* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 100%;
    width: 100vw;
    background: #28a745;
    overflow: hidden;
    position: relative;
    color: white;
    text-align: center;
    font-family: "Rockwell", Times, serif;
}

img {
   object-fit: cover;
   opacity: 0.4;
}

body {
   margin: 0 auto;
}

#home-image {
    margin: 0 auto;
    width: 100%;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-family: "Monaco", monospace;
  font-weight: 900;
}

.below-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9em;
  font-weight: 200;
}

button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rockwell", Times, serif;
  padding: 8px;
  border-color: #A9A9A9;
}

a {
      text-decoration: none;
      color: black;
  }
  
  a:hover {
      text-decoration: none;
      color: #A9A9A9;;
  }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
      
  }

.below-center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
    
  }
  
  button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rockwell", Times, serif;
  padding: 8px;
  border-color: #A9A9A9;
  }


